<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="base_type" default="omni_base"/>
  <arg name="base_type_suffix" value="" unless="$(eval arg('base_type') == 'omni_base')"/>
  <arg name="base_type_suffix" value="_omni" if="$(eval arg('base_type') == 'omni_base')"/>

  <rosparam command="load" file="$(find tiago_pro_bringup)/config/hardware/tiago_pro_hardware.yaml"/>

  <!-- Robot model -->
  <include file="$(find tiago_pro_description)/robots/upload.launch"/>

  <!-- Load parameters for torque estimation-->
  <include file="$(find tiago_pro_bringup)/launch/load_actuators_data.launch">
    <arg name="namespace"       value="actuators_data"/>
    <arg name="fingerprint_pkg" value="tiago_pro_bringup"/>
  </include>

  <!--[> Bring up robot <]-->
  <include file="$(find tiago_pro_bringup)/launch/tiago_pro_bringup.launch"/>

  <!-- Hardware specific bringup -->
  <include file="$(find tiago_pro_controller_configuration)/launch/bringup_controllers_hardware.launch" />

</launch>
